.flat-headerbar-content scrollbar.vertical {
  /* The size a typical headerbar takes: 46px + 1px for the bottom border. */
  margin-top: 47px;

  /* Relevant for scrollbars without .overlay-indicator. */
  background: none;
  box-shadow: none;
}

.flat-headerbar-normal-scrollbar scrollbar.vertical {
  margin-top: 0;
}

.circle {
  border-radius: 9999px;
}

.dim-icon {
  color: alpha(@window_fg_color, .75);
}

entry button {
  margin: 0;
  padding: 0 3px;
}

button.large {
  padding: 9px;
}

.action-bar {
  padding: 9px 18px;
}

.destructive-button label, .destructive-button image {
  color: @destructive_color;
}

connectionswitcher row #selection-indicator #background,
actionssidebar #type {
  background-color: @shade_color;
  border-radius: 9999px;
}

connectionswitcher row #color {
  border-radius: 9999px;
  margin: 2px 0 0 0;
  padding: 6px;
}

connectionssidebar connectionswitcher row #selection-indicator #background,
connectionssidebar connectionswitcher row #delete-button,
actionssidebar #action,
actionssidebar #type {
  min-height: 34px;
  min-width: 34px;
}

connectionssidebar connectionswitcher row #delete-button,
connectionssidebar connectionswitcher row #connecting-spinner,
actionssidebar #action {
  margin-left: 12px;
}

connectionchooserpage connectionswitcher row #selection-indicator #background,
connectionchooserpage connectionswitcher row #delete-button {
  min-height: 44px;
  min-width: 44px;
}

connectionswitcher row #selection-indicator #checkmark {
  color: @light_1;
  border-radius: 9999px;
  border: solid @accent_bg_color 2px;
  background-color: @accent_bg_color;
}

connectionswitcher row #selection-indicator .selected-connection {
  border: 2px solid @accent_bg_color;
}

connectionswitcher row #selection-indicator .unselected-connection,
actionssidebar #type {
  padding: 1px;
  border: 1px solid @borders;
}

connectionssidebar connectionswitcher row,
actionssidebar row {
  border-radius: 9px;
  padding: 6px;
}

connectionchooserpage connectionswitcher row {
  padding: 9px 18px;
}

.status-badge {
  font-size: 0.8em;
  font-weight: bold;
  min-width: 1.7em;
  border-radius: 9999px;
  padding: 5px 7px;
}

.repo-tags-small {
  background-color: transparent;
  margin: 0 0 -4px -2px;
}

.container-status-configured,
.container-status-created,
.container-status-exited,
.container-status-initialized,
.container-status-removing,
.container-status-stopped,
.container-status-stopping,
.pod-status-created,
.pod-status-exited,
.pod-status-stopped,
.container-health-status-checking,
.container-health-status-unconfigured {
  color: alpha(@window_fg_color, .75);
  background-color: alpha(@window_fg_color, .15);
}

.container-status-paused, .pod-status-paused {
  color: @brown_4;
  background: alpha(@brown_3, .25);
}

.container-status-restarting,
.pod-status-restarting {
  color: @purple_3;
  background: alpha(@purple_2, .25);
}

.container-status-running, .pod-status-running {
  color: @blue_4;
  background-color: alpha(@blue_3, .25);
}

.pod-status-degraded {
  color: #ae7b03;
  background: alpha(@yellow_5, .3);
}

.container-status-dead,
.container-status-unknown,
.pod-status-error,
.pod-status-dead,
.pod-status-unknown,
.container-health-status-unhealthy,
.container-health-status-unknown {
  color: @red_4;
  background-color: alpha(@red_2, .25);
}

.container-health-status-healthy {
  color: @green_5;
  background-color: alpha(@green_3, .25);
}

progressbar.success progress {
  background-color: @success_bg_color;
}

progressbar.warning progress {
  background-color: @warning_bg_color;
}

progressbar.error progress {
  background-color: @error_bg_color;
}

.text-view {
  font-size: 0.85em;
}

.star>count {
  font-size: 0.85em;
  font-feature-settings: "tnum";
}

.star>icon {
  color: @yellow_3;
}
