containercard.not-running {
	background-color: var(--sidebar-bg-color);
}

.dim-icon {
  color: #ffffff;
}

.tag-label {
  font-weight: bold;
}

.container-health-status-healthy,
.container-status-running,
.image-used,
.pod-status-running,
.volume-used {
  background-color: var(--accent-bg-color);
  color: var(--accent-fg-color);
}

.pod-status-degraded {
  background-color: var(--accent-yellow);
  color: var(--accent-fg-color);
}

.container-status-dead,
.container-status-unknown,
.pod-status-error,
.pod-status-dead,
.pod-status-unknown,
.container-health-status-unhealthy,
.container-health-status-unknown {
  background-color: var(--error-bg-color);
  color: var(--error-fg-color);
}

.container-health-status-healthy {
  color: var(--accent-fg-color);
  background-color: var(--accent-green);
}
