.dim-icon {
  color: alpha(@window_fg_color, .85);
}

entry button {
  margin: 0;
  padding: 0 3px;
}

button.large {
  padding: 9px;
}

.action-bar {
  padding: 9px 18px;
}

.destructive-button label, .destructive-button image {
  color: @destructive_color;
}

connectionswitchermenu row #selection-indicator #background,
actionsoverview #type {
  background-color: @shade_color;
  border-radius: 9999px;
}

popover connectionswitchermenu row #selection-indicator #background,
popover connectionswitchermenu row #delete-button,
actionsoverview #action,
actionsoverview #type {
  min-height: 34px;
  min-width: 34px;
}

popover connectionswitchermenu row #delete-button,
actionsoverview #action {
  margin-left: 12px;
}

connectionchooserpage connectionswitchermenu row #selection-indicator #background,
connectionchooserpage connectionswitchermenu row #delete-button {
  min-height: 44px;
  min-width: 44px;
}

connectionswitchermenu row #selection-indicator #checkmark {
  color: @light_1;
  border-radius: 9999px;
  border: solid @accent_bg_color 2px;
  background-color: @accent_bg_color;
}

connectionswitchermenu row #selection-indicator .selected-connection {
  border: 2px solid @accent_bg_color;
}

connectionswitchermenu row #selection-indicator .unselected-connection,
actionsoverview #type {
  padding: 1px;
  border: 1px solid @borders;
}

popover connectionswitchermenu row,
actionsoverview row {
  border-radius: 9px;
  padding: 6px;
}

connectionchooserpage connectionswitchermenu row {
  padding: 9px;
}

.circular-progress-bar {
  font-size: 0.65em;
}

.status-circle {
  border-radius: 9999px;
  padding: 8px;
}

.status-badge {
  font-size: 0.8em;
  font-weight: bold;
  min-width: 1.7em;
  border-radius: 9999px;
  padding: 5px 7px;
}

.container-status-created,
.container-status-exited,
.container-status-removing,
.container-status-stopped,
.container-status-stopping,
.pod-status-created,
.pod-status-exited,
.pod-status-stopped,
.container-health-status-checking,
.container-health-status-unconfigured {
  color: alpha(@window_fg_color, .75);
  background-color: alpha(@window_fg_color, .15);
}

.container-status-paused, .pod-status-paused {
  color: @brown_4;
  background: alpha(@brown_3, .25);
}

.container-status-restarting,
.pod-status-restarting {
  color: @purple_3;
  background: alpha(@purple_2, .25);
}

.container-status-running, .pod-status-running {
  color: @blue_4;
  background-color: alpha(@blue_3, .25);
}

.pod-status-degraded {
  color: #ae7b03;
  background: alpha(@yellow_5, .25);
}

.container-status-dead,
.container-status-unknown,
.pod-status-error,
.pod-status-dead,
.pod-status-unknown,
.container-health-status-unhealthy,
.container-health-status-unknown {
  color: @red_4;
  background-color: alpha(@red_2, .25);
}

.container-health-status-healthy {
  color: @green_5;
  background-color: alpha(@green_3, .25);
}

.pod-badge {
  font-size: 0.85em;
  font-weight: bold;
  min-width: 1.7em;
  border-radius: 9999px;
  padding: 2px 12px 2px 2px;
}

.pod-badge-icon {
  background-color: @dialog_bg_color;
  border-radius: 9999px;
  border: solid @borders 1px;
  padding: 5px;
}

progressbar.success progress {
  background-color: @success_bg_color;
}

progressbar.warning progress {
  background-color: @warning_bg_color;
}

progressbar.error progress {
  background-color: @error_bg_color;
}

.text-view {
  font-size: 0.85em;
}

.star>count {
  font-size: 0.85em;
  font-feature-settings: "tnum";
}

.star>icon {
  color: @yellow_3;
}
