containercard separator,
networkcard separator {
	background-color: var(--window-bg-color);
}

actionsbutton.finished .action-count-badge {
  background-color: var(--light-3);
  color: var(--dark-5);
}

.version,
.container-health-status-not-running,
.container-status-not-running,
.image-unused,
.pod-status-not-running,
.volume-unused,
.rich-expander-row-header #badge {
  color: var(--dark-3);
  background-color: var(--light-5);
}
