/* START: ThemeSelector */
theme-selector {
  margin: 9px;
}
theme-selector checkbutton {
  padding: 0;
  min-height: 44px;
  min-width: 44px;
  padding: 1px;
  background-clip: content-box;
  border-radius: 9999px;
  box-shadow: inset 0 0 0 1px @borders;
}
theme-selector checkbutton.follow:checked,
theme-selector checkbutton.light:checked,
theme-selector checkbutton.dark:checked {
  box-shadow: inset 0 0 0 2px @theme_selected_bg_color;
}
theme-selector checkbutton.follow {
  background-image: linear-gradient(to bottom right, #fff 49.99%, #202020 50.01%);
}
theme-selector checkbutton.light {
  background-color: #fff;
}
theme-selector checkbutton.dark {
  background-color: #202020;
}
theme-selector checkbutton radio {
  -gtk-icon-source: none;
  border: none;
  background: none;
  box-shadow: none;
  min-width: 12px;
  min-height: 12px;
  transform: translate(27px, 14px);
  padding: 2px;
}
checkbutton.theme-selector radio:checked {
  -gtk-icon-source: -gtk-icontheme("object-select-symbolic");
  background-color: @theme_selected_bg_color;
  color: @theme_selected_fg_color;
}
/* END: ThemeSelector */

.image-tag-none .title {
  color: @dark_1;
}

.image-to-be-deleted .title {
  color: @red_3;
}

.circular-progress-bar {
  font-size: 0.65em;
}

.container-status {
  color: @accent_fg_color;
  font-size: 0.8em;
  font-weight: bold;
  min-width: 1.7em;
  border-radius: 9999px;
  padding: 5px 7px;
}

.container-status-configured {
  background-color: @dark_1;
}

.container-status-created {
  background-color: @dark_1;
}

.container-status-dead {
  background-color: @dark_1;
}

.container-status-exited {
  background-color: @dark_1;
}

.container-status-paused {
  background-color: @brown_3;
}

.container-status-removing {
  background-color: @yellow_5;
}

.container-status-restarting {
  background-color: @yellow_5;
}

.container-status-running {
  background-color: @green_5;
}

.container-status-stopped {
  background-color: @dark_1;
}

.container-status-stopping {
  background-color: @dark_1;
}

.container-status-unknown {
  background-color: @red_3;
}

.text-view {
  font-size: 0.85em;
}
