.font-small {
  font-size: 0.95em;
}

.title-header {
  font-size: 36px;
  font-weight: bold;
}

.image-tag-none .title {
  color: @dark_1;
}

.image-to-be-deleted .title {
  color: @red_3;
}

.property-row {
  margin: 9px 12px;
}

.container-status {
  color: @accent_fg_color;
  font-size: 0.8em;
  font-weight: bold;
  min-width: 1.7em;
  border-radius: 9999px;
  padding: 5px 7px;
}

.container-status-configured {
  background-color: @blue_3;
}

.container-status-created {
  background-color: @brown_4;
}

.container-status-dead {
  background-color: @dark_3;
}

.container-status-exited {
  background-color: @orange_3;
}

.container-status-paused {
  background-color: @dark_1;
}

.container-status-removing {
  background-color: @purple_3;
}

.container-status-restarting {
  background-color: @yellow_5;
}

.container-status-running {
  background-color: @green_5;
}

.container-status-stopped {
  background-color: @dark_2;
}

.container-status-unknown {
  background-color: @red_2;
}
