.container-status-created,
.container-status-exited,
.container-status-removing,
.container-status-stopped,
.container-status-stopping,
.pod-status-created,
.pod-status-exited,
.pod-status-stopped,
.container-health-status-checking,
.container-health-status-unconfigured {
	color: alpha(@window_fg_color, .75);
	background-color: alpha(@window_fg_color, .15);
}

.container-status-paused, .pod-status-paused {
	color: @brown_1;
	background: alpha(@brown_3, .35);
}

.container-status-restarting,
.pod-status-restarting {
	color: @purple_1;
	background: alpha(@purple_2, .35);
}

.container-status-running, .pod-status-running {
	color: @blue_1;
	background-color: alpha(@blue_2, .35);
}

.pod-status-degraded {
	color: @yellow_2;
	background: alpha(#cd9309, .35);
}

.container-status-dead,
.container-status-unknown,
.pod-status-error,
.pod-status-dead,
.pod-status-unknown,
.container-health-status-unhealthy,
.container-health-status-unknown {
	color: #ff7b63;
}

.container-health-status-healthy {
	color: @green_1;
	background-color: alpha(@green_4, .25);
}
