headerbar:not(.flat) {
  background: @background_color;
  color: @foreground_color;
}

connectionswitchermenu row #selection-indicator #background {
  background-color: @shade_color;
  border-radius: 9999px;
}

#main-menu connectionswitchermenu row #selection-indicator #background,
#main-menu connectionswitchermenu row #delete-button {
  min-height: 34px;
  min-width: 34px;
}

connectionchooserpage connectionswitchermenu row #selection-indicator #background,
connectionchooserpage connectionswitchermenu row #delete-button {
  min-height: 44px;
  min-width: 44px;
}

connectionswitchermenu row #selection-indicator #checkmark {
  color: @light_1;
  border-radius: 9999px;
  border: solid @accent_bg_color 2px;
  background-color: @accent_bg_color;
}

connectionswitchermenu row #selection-indicator .selected-connection {
  border: 2px solid @accent_bg_color;
}

connectionswitchermenu row #selection-indicator .unselected-connection {
  padding: 1px;
  border: 1px solid @borders;
}

#main-menu connectionswitchermenu row {
  border-radius: 9px;
  padding: 6px;
}

connectionchooserpage connectionswitchermenu row {
  padding: 9px;
}

.image-tag-none .title {
  color: @dark_1;
}

.image-to-be-deleted .title {
  color: @red_3;
}

.circular-progress-bar {
  font-size: 0.65em;
}

.status-badge {
  color: @accent_fg_color;
  font-size: 0.8em;
  font-weight: bold;
  min-width: 1.7em;
  border-radius: 9999px;
  padding: 5px 7px;
}

.container-status-created,
.container-status-exited,
.pod-status-created,
.pod-status-exited,
.pod-status-degraded,
.container-health-status-checking,
.container-health-status-unconfigured
{
  background-color: @dark_1;
}

.container-status-paused, .pod-status-paused {
  background-color: @brown_3;
}

.container-status-restarting,
.pod-status-restarting
{
  background-color: @yellow_5;
}

.container-status-running, .pod-status-running {
  background-color: @accent_bg_color;
}

.container-status-dead,
.container-status-unknown,
.pod-status-dead,
.pod-status-unknown,
.container-health-status-unhealthy,
.container-health-status-unknown
{
  background-color: @error_bg_color;
}

.container-health-status-healthy {
  background-color: @success_bg_color;
}

.progressbar-warning trough > progress {
  background-color: @warning_bg_color;
}

.progressbar-error trough > progress {
  background-color: @error_bg_color;
}

.text-view {
  font-size: 0.85em;
}

.star > count {
  font-size: 0.85em;
  font-feature-settings: "tnum";
}

.star > icon {
  color: @yellow_3;
}

.fake-list-label {
  line-height: 1.4em;
}
