.navigation-sidebar .list-separator {
  margin: -12px 0;
}

.text-box textview {
  background: none;
}

.circle {
  border-radius: 9999px;
}

.circle-big {
  border-radius: 9999px;
  padding: 8px;
}

.dim-icon {
  color: alpha(@window_fg_color, .75);
}

entry button {
  margin: 0;
  padding: 0 3px;
}

button.medium {
  padding: 6px;
  -gtk-icon-size: 24px;
}

button.large {
  padding: 9px;
  -gtk-icon-size: 24px;
}

.action-bar {
  padding: 9px 18px;
}

.destructive-button label, .destructive-button image {
  color: @destructive_color;
}

.sidebar-row {
  margin: 12px 6px;
}

actionsbutton .action-count-mask {
  background-color: @headerbar_bg_color;
  border-radius: 9999px;
  margin-left: 10px;
  padding: 7px;
}

actionsbutton .action-count-badge {
  border-radius: 9999px;
  font-feature-settings: "tnum";
  font-size: x-small;
  font-weight: bold;
  margin-top: 1px;
  margin-left: 10px;
  padding: 6px;
}

actionsbutton.good .action-count-badge {
  background-color: @accent_bg_color;
  color: @accent_fg_color;
}

actionsbutton.finished .action-count-badge {
  background-color: @success_bg_color;
  color: @success_fg_color;
}

actionsbutton.cancelled .action-count-badge {
  background-color: @warning_bg_color;
  color: @warning_fg_color;
}

actionsbutton.failed .action-count-badge {
  background-color: @error_bg_color;
  color: @error_fg_color;
}

connectionrow #selection-indicator #background,
actionssidebar #type {
  background-color: @shade_color;
  border-radius: 9999px;
}

connectionchooserpage connectionrow #color {
  border-radius: 9999px;
  margin: 0 9px 0 0;
  padding: 9px;
}

connectionssidebar connectionrow #color {
  border-radius: 9999px;
  margin: 0 6px 0 0;
  padding: 7px;
}

connectionssidebar connectionrow #selection-indicator #background,
connectionssidebar connectionrow #delete-button,
actionssidebar #action,
actionssidebar #type {
  min-height: 34px;
  min-width: 34px;
}

connectionchooserpage connectionrow #selection-indicator #background,
connectionchooserpage connectionrow #delete-button {
  min-height: 38px;
  min-width: 38px;
}

connectionrow #selection-indicator #checkmark {
  color: @light_1;
  border-radius: 9999px;
  border: solid @accent_bg_color 2px;
  background-color: @accent_bg_color;
}

connectionrow #selection-indicator .selected-connection {
  border: 2px solid @accent_bg_color;
}

connectionrow #selection-indicator .unselected-connection,
actionssidebar #type {
  padding: 1px;
  border: 1px solid @borders;
}

connectionssidebar connectionrow,
actionssidebar actionrow {
  padding: 6px 0;
}

connectionchooserpage connectionrow {
  padding: 6px;
}

.status-badge {
  font-size: 0.9em;
  font-weight: bold;
  min-width: 1.7em;
  border-radius: 9999px;
  padding: 5px 7px;
}

.status-badge-small {
  font-size: small;
  font-weight: bold;
  font-feature-settings: "tnum";
  min-width: 10px;
  border-radius: 9999px;
  padding: 1px 4px;
}

.repo-tags-small {
  background-color: transparent;
  margin: 0 0 -4px -2px;
}

.version,
.container-status-configured,
.container-status-created,
.container-status-exited,
.container-status-initialized,
.container-status-removing,
.container-status-stopped,
.container-status-stopping,
.pod-status-created,
.pod-status-exited,
.pod-status-stopped,
.image-unused,
.volume-unused,
.container-health-status-checking,
.container-health-status-unconfigured,
.rich-expander-row-header #badge {
  color: alpha(@window_fg_color, .75);
  background-color: alpha(@window_fg_color, .15);
}

.container-status-paused,
.pod-status-paused {
  color: @brown_4;
  background: alpha(@brown_3, .25);
}

.container-status-restarting,
.pod-status-restarting {
  color: @purple_3;
  background: alpha(@purple_2, .25);
}

.container-status-running,
.pod-status-running,
.image-used,
.volume-used {
  color: @blue_4;
  background-color: alpha(@blue_3, .25);
}

.pod-status-degraded {
  color: #ae7b03;
  background: alpha(@yellow_5, .3);
}

.container-status-dead,
.container-status-unknown,
.pod-status-error,
.pod-status-dead,
.pod-status-unknown,
.container-health-status-unhealthy,
.container-health-status-unknown {
  color: @red_4;
  background-color: alpha(@red_2, .25);
}

.container-health-status-healthy {
  color: @green_5;
  background-color: alpha(@green_3, .25);
}

.rich-expander-row-header {
  color: alpha(@window_fg_color, .75);
}

.rich-expander-row-header #badge {
  border-radius: 6px;
  padding: 1px 4px;
  font-weight: bold;
}

progressbar.success progress {
  background-color: @success_bg_color;
}

progressbar.warning progress {
  background-color: @warning_bg_color;
}

progressbar.error progress {
  background-color: @error_bg_color;
}

.text-view {
  font-size: 0.85em;
}

.star>count {
  font-size: 0.85em;
  font-feature-settings: "tnum";
}

.star>icon {
  color: @yellow_3;
}
