on:
  push:
    branches: [main]
  pull_request:

name: CI

jobs:
  rustfmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          override: true
          components: rustfmt
      - name: Create blank versions of configured file
        run: echo -e "" >> src/config.rs
      - name: Run cargo fmt
        run: cargo fmt --all -- --check

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    container:
      image: bilelmoussaoui/flatpak-github-actions:gnome-42
      options: --privileged
    steps:
      - uses: actions/checkout@v2

      - name: Cache flatpak
        id: cache-flatpak
        uses: actions/cache@v2
        with:
          path: .flatpak-builder
          key: ${{ runner.os }}-flatpak-${{ hashFiles('build-aux/com.github.marhkb.Pods.Devel.json') }}
          restore-keys: ${{ runner.os }}-flatpak-

      - name: Cache cargo
        id: cache-cargo
        uses: actions/cache@v2
        with:
          path: /github/home/.cargo
          key: ${{ runner.os }}-cargo-${{ hashFiles('Cargo.lock') }}
          restore-keys: ${{ runner.os }}-cargo-

      # - name: Cache target
      #   id: cache-target
      #   uses: actions/cache@v2
      #   with:
      #     path: target
      #     key: ${{ runner.os }}-target-${{ hashFiles('Cargo.lock') }}
      #     restore-keys: ${{ runner.os }}-target-

      - name: Create dummy versions of configured file
        run: |
          sed \
            -e 's/str =.*;/str = "";/g' \
            -e 's/i32 =.*;/i32 = 0;/g' \
            src/config.rs.in \
            > src/config.rs

      - name: Build dependencies
        run: |
          flatpak-builder \
          --disable-rofiles-fuse \
          --install-deps-from=flathub \
          --keep-build-dirs \
          --stop-at=pods \
          flatpak_app build-aux/com.github.marhkb.Pods.Devel.json

      - name: Run clippy
        run: |
          flatpak-builder \
          --run \
          flatpak_app build-aux/com.github.marhkb.Pods.Devel.json \
          cargo clippy -- -D warnings

  flatpak:
    name: Flatpak
    runs-on: ubuntu-latest
    container:
      image: bilelmoussaoui/flatpak-github-actions:gnome-42
      options: --privileged
    steps:
    - uses: actions/checkout@v2
    - uses: bilelmoussaoui/flatpak-github-actions/flatpak-builder@v4
      with:
        bundle: pods.flatpak
        manifest-path: build-aux/com.github.marhkb.Pods.Devel.json
        run-tests: true
        cache-key: flatpak-builder-${{ github.sha }}
